// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 12px;
$v-font-weight: 300;
$v-font-family: "Open Sans Pro", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin otpagenttheme {
  @include valo;

  // Insert your own theme rules here
  .v-panel {
		background: white;
		color: #474747;
		border-radius: 4px;
		border: 1px solid #d5d5d5;
		-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
		overflow: visible !important;
  }
  
  .v-panel-caption {
	box-sizing: border-box;
	padding: 0 9px;
	line-height: 27px;
	border-bottom: 1px solid #d5d5d5;
	background-color: #fafafa;
	background-image: -webkit-linear-gradient(top, #fafafa 2%, #f6f6f6 98%);
	background-image: linear-gradient(to bottom,#fafafa 2%, #f6f6f6 98%);
	color: #464646;
	font-weight: 400;
	font-size: 11px;
	-webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #eeeeee;
	box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #eeeeee;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
	border-radius: 3px 3px 0 0;
}
.v-panel-content {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.v-window {
	padding: 3px 3px;
	border-radius: 4px;
	background-color: white;
	color: #474747;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.09098);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 16px 80px -6px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.09098);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 16px 80px -6px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.09098);
	padding: 0;
	min-width: 112px !important;
	min-height: 28px !important;
	white-space: nowrap;
	overflow: hidden !important;
	-webkit-transition: width 200ms, height 200ms, top 200ms, left 200ms;
	-moz-transition: width 200ms, height 200ms, top 200ms, left 200ms;
	transition: width 200ms, height 200ms, top 200ms, left 200ms;
}

.v-window[class*="animate-in"] {
	-webkit-animation: valo-animate-in-fade 140ms;
	-moz-animation: valo-animate-in-fade 140ms;
	animation: valo-animate-in-fade 140ms;
}

.v-window[class*="animate-out"] {
	-webkit-animation: valo-animate-out-scale-down-fade 100ms;
	-moz-animation: valo-animate-out-scale-down-fade 100ms;
	animation: valo-animate-out-scale-down-fade 100ms;
}

.v-window.v-window-animate-in {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
  
}
